/* ======================================== Deafult CSS ============================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: auto;
  /* padding: 0px 15px; */
  background-image: url("/images/Vector\ 7.png");
  background-repeat: no-repeat;
  right: 0;
  background-position: right top;
  background-size: 800px 900px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(49, 109, 98, 1);
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(207.06deg, #316d62 25.55%, #453e37 74.02%);
}
ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.p50 {
  padding: 20px;
}
/* ======================================== Header CSS ============================== */
.head_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px 0px 50px;
}
.head_first {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header_menu ul {
  display: flex;
  gap: 35px;
  align-items: center;
  flex-wrap: wrap;
}
.header_action ul {
  display: flex;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
}

/* ======================================== Home CSS ============================== */
.arrow {
  margin-left: 100px;
}
.hero_detail {
  display: flex;
  align-items: center;
}

::placeholder {
  color: rgba(101, 131, 126, 1);
  font-weight: 500;
  font-size: 20px;
  padding-left: 30px;
}

/* ======================================== media query  ============================== */

@media screen and (max-width: 475px) {
  .header_menu,
  .head_first a,
  .hds,
  .s3b,
  .s3d,
  .s4i {
    display: none;
  }
  .header_action {
    margin-right: 5px;
  }
  .container {
    background-image: none;
  }
  .rec img {
    display: none;
  }
  .heromain {
    padding: 100px !important;
    flex-direction: column;
    width: auto;
  }
  .hdi {
    width: 450px;
    padding-left: 50px;
  }
  .s2 {
    top: -100px !important;
  }
  .s3 {
    padding: 0px !important;
    height: 2400px;
  }
  .s3i {
    height: 437px;
    background-repeat: no-repeat;
  }
  .s3g {
    gap: 0px !important ;
  }
  .s3ii {
    height: 437px;
    margin-bottom: 200px;
  }
  .s4t {
    padding-top: 50px;
  }
  .s4m {
    height: 620px !important;
  }
  .s4i2 {
    padding-top: 50px;
    width: 450px;
  }
  .s5m {
    padding-top: 0px !important;
    padding-top: 50px !important;
    width: auto;
    flex-wrap: wrap;
  }
  .s5t {
    padding-top: 0px !important;
    width: 475px !important;
    margin-right: 40px;
  }
  .s5sm {
    padding-top: 150px;
    margin-left: 8px;
  }
  .s5i {
    width: 460px;
    height: 500px;
  }
  .s5s {
    width: 460px;
    height: 408px;
    border-radius: 50px;
  }
  .s6h {
    font-size: 35px !important;
  }
  .s61 {
    padding: 0px !important;
  }
  .s6s {
    width: 460px !important;
    height: 453px !important;
    margin: 0px 0px 100px 7px;
  }.s6c{
    width: 400px;
  }
}
