/* ======================================== Deafult CSS ============================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: auto;
  /* padding: 0px 15px; */
  background-image: url("/images/Vector\ 7.png");
  background-repeat: no-repeat;
  right: 0;
  background-position: right top;
  background-size: 800px 900px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(49, 109, 98, 1);
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(207.06deg, #316d62 25.55%, #453e37 74.02%);
}
ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.p50 {
  padding: 20px;
}
/* ======================================== Header CSS ============================== */
.head_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px 0px 50px;
}
.head_first {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header_menu ul {
  display: flex;
  gap: 35px;
  align-items: center;
  flex-wrap: wrap;
}
.header_action ul {
  display: flex;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
}

/* ======================================== Home CSS ============================== */
.arrow {
  margin-left: 100px;
}
.hero_detail {
  display: flex;
  align-items: center;
}

::placeholder {
  color: rgba(101, 131, 126, 1);
  font-weight: 500;
  font-size: 20px;
  padding-left: 30px;
}

/* ======================================== media query  ============================== */

@media screen and (max-width: 400px) {
  .header_menu,
  .head_first a,
  .hds,
  .s3b,
  .s3d,
  .s4i {
    display: none;
  }
  .header_action {
    margin-right: 5px;
  }
  .container {
    background-image: none;
  }
  .rec img {
    display: none;
  }
  .heromain {
    padding: 100px !important;
    flex-direction: column;
  }
  .hdi {
    width: 300px;
    margin-right: 0px !important ;
    align-items: center;
  }
  .s2main {
    width: 400px;
  }
  .s2 {
    /* top: -100px !important;   */
  }
  .s2p {
    width: 300px;
    padding-left: 100px;
  }
  .s3 {
    padding: 0px !important;
    height: 2600px;
  }
  .s3i {
    height: 437px;
    background-repeat: no-repeat;
  }
  .s3g {
    gap: 0px !important ;
  }
  .s3ii {
    height: 437px;
    margin-bottom: 200px;
  }
  .s4t {
    padding-top: 50px;
  }
  .s4m {
    width: 400px;
    height: 540px !important;
  }
  .s4i2 {
    padding-top: 50px;
    width: 325px;
  }
  .s5main {
    width: 400px;
  }
  .s5m {
    padding-top: 0px !important;
    padding-top: 50px !important;
    width: auto;
    flex-wrap: wrap;
  }
  .s51 {
    font-size: 40px !important;
  }
  .s5t {
    width: 300px !important;
    padding-left: 30px;
  }
  .s5sm {
    padding-top: 150px;
    padding-left: 50px !important;
    margin-left: 8px;
  }
  .s5i {
    width: 300px;
    height: 400px;
  }
  .s5s {
    width: 300px;
    height: 308px;
    border-radius: 50px;
  }
  .s6main {
    width: 400px;
  }
  .s6h {
    font-size: 30px !important;
  }
  .s61 {
    padding: 50px !important;
  }
  .s6s {
    width: 300px !important;
    height: 353px !important;
    margin: 0px 0px 100px 0px;
  }
  .s6c {
    width: 250px;
    font-size: 25px !important;
    position: relative;
    left: -15px !important;
  }
  .s6image {
    width: 30px;
    position: relative;
    top: 18px !important;
    left: 20px !important;
  }
  .s6mimage {
    width: 70px !important;
    height: 70px !important;
    top: -75px !important;
    left: 80px !important;
    position: relative;
  }
  .s6p {
    font-size: 17px !important;
  }
  .footer {
    flex-wrap: wrap;
    height: 1500px;
    padding: 0px;
  }
  .fs {
    width: 300px;
  }
  .fp {
    margin-left: 0px !important;
    margin-bottom: 50px;
    font-size: 17px !important;
    position: relative;
    left: -20px;
  }
  .fi {
    width: 300px !important ;
  }
  .fb {
    right: 100px;
  }
  .fline {
    left: -150px !important;
    position: relative;
  }
  .fb {
    left: -250px !important;
    top: -23px;
    position: relative;
  }
  .fe {
    top: -100px !important;
    left: 30px !important;
    position: relative;
  }
  .fsl {
    position: relative;
    left: 100px !important;
  }
  .fl {
    margin-left: 0px !important;
  }
}
